/*Grijs: #899CA0
 Donkergroen #1C2B32 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
    margin: 0;

}
header{
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: url("../assets/images/mountains.jpg");
    background-position: center;
    height: 800px;
    width: 100%;
    color: #1C2B32;
}
button{
    box-shadow: none;
}
header h1{
    font-size: 120px;

}
header p{
    margin-top: -80px;
    font-size: 14px;
}
.domainField{
    border-radius: 25px 0px 0px 25px;
    height: 50px;
    width: 300px;
    background: transparent;
    color: black;
    font-size: 14px;
}
input::placeholder {
    color: #1C2B32;;
    opacity: 1;
}

.headerButton{
    border-radius: 0px 25px 25px 0px;
    height: 55px;
    width: 200px;
    margin-left: -6px;
    background-color: #1C2B32;
    color:white;
}
main{
    margin: auto;
    width: 1000px;
    text-align: center;
}
img{
    width: 100%;
    border-radius: 20px;
}

section h1{
    margin: 50px;
    color: #1C2B32;
}

section p{
    font-size: 12px;
    text-align: left;
}
section details{
    font-size: 13px;
    margin: 18px;
    background-color: rgba(28, 43, 50, 0.6);
    color: white;
    justify-content: left;
    text-align: left;

}
section details summary{
    text-align: left;
    font-size: 15px;
    opacity: 1;
    background-color: white;
    color: black;


}
.sectionButton{
    background-color: #1C2B32;
    display: flex;
    justify-content: center;
    font-size: 16px;
    align-items: center;
    height: 60px;
    color: white;
    border-radius: 40px;
    width: 180px;
}
